@model PostModel

@{ 
    List<CategoryModel> categories = ViewBag.categories as List<CategoryModel>;
    CategoryModel category = ViewBag.category as CategoryModel;  
    ViewData["Title"] = Model.Title;    

    IQueryable<PostModel> otherPosts = ViewBag.otherPosts as IQueryable<PostModel>;
}

<nav aria-label="breadcrumb box-shadow">
  <ol class="breadcrumb box-shadow">
    <li class="breadcrumb-item"><a href="~/">Home</a></li>
    @if  (category != null)
    {
        var li = category.ListParents();
        foreach (var l in li)
        {
            <li class="breadcrumb-item">
                <a asp-action="Index" asp-route-categoryslug="@l.Slug">@l.Title</a>
            </li>
        }
        <li class="breadcrumb-item">
                <a asp-action="Index" asp-route-categoryslug="@category.Slug">@category.Title</a>
        </li>
    } 
  </ol>
</nav>

<div class="detailpost">
    <h3>@Model.Title</h3>
    <div class="sapo">
        @Model.AbstractTitle
    </div>
    <div class="px-2">
        <div class="p-2">Tác giả: @Model.Author.FullName</div>
        <span class="p-2">Cập nhật: @Model.DateUpdated</span>/
        <span class="p-2">Lượt xem: @Model.ViewCount <i class=" ti-eye"></i></span>
    </div>
    <hr>
    <img src="@Model.Image" alt="">
    @Html.Raw(Model.Content)

</div>




@section Sidebar {
    @await Component.InvokeAsync("CategorySidebar", 
        new CategorySidebarComponent.CategorySidebarData()
        {
            Categories = categories,
            level = 0,
            categoryslug = category.Slug
        })

    <ul class="list-group">
    @foreach (var post in otherPosts)
    {
        <li class="list-group-item">
            <a asp-controller="ViewPost" asp-action="Detail" asp-route-postslug="@post.Slug">
                @post.Title
            </a>
        </li>
    }
</ul>    
}

