@{
    Layout= "_LayoutBlog";
}


@model List<PostModel>
@{ 
    List<CategoryModel> categories = ViewBag.categories as List<CategoryModel>;
    CategoryModel category = ViewBag.category as CategoryModel;  
    ViewData["Title"] = (category != null) ? category.Title : 
                        "Bài viết trong tất cả các danh mục";
}

<nav aria-label="breadcrumb box-shadow">
  <ol class="breadcrumb box-shadow">
    <li class="breadcrumb-item"><a href="~/">Home</a></li>
    @if  (category != null)
    {
        var li = category.ListParents();
        foreach (var l in li)
        {
            <li class="breadcrumb-item">
                <a asp-action="Index" asp-route-categoryslug="@l.Slug">@l.Title</a>
            </li>
        }
    } 
  </ol>
</nav>



<h4 class="">Danh mục: @ViewData["Title"]</h4>
<hr>

@foreach (var post in Model)
{
    <div class="media border-bottom mb-3 pb-3">
        <img src="@post.Image" class="mr-3 w-25">
        <div class="media-body">
            <h5 class="mt-0">
                <a asp-controller="ViewPost" asp-action="Detail" asp-route-postslug="@post.Slug">
                    @post.Title
                </a>
            </h5>
            @post.AbstractTitle
            <div>
                Chủ đề:
                <strong class="text-danger">
                    @post.PostCategories.FirstOrDefault()?.Category.Title
                </strong> 
            </div>
            <div class="author-row">
                 Tác giả: <strong>@post.Author.FullName</strong> |
                 Ngày cập nhật : <i>@post.DateUpdated.ToShortDateString()</i>
            </div>
        </div>
    </div>
}


@section Sidebar {
    @await Component.InvokeAsync("CategorySidebar", 
        new CategorySidebarComponent.CategorySidebarData()
        {
            Categories = categories,
            level = 0,
            categoryslug = ViewBag.categoryslug
        })
}


<partial name="_Paging" model="@ViewBag.pagingModel" />